*{
  margin: 0;
  padding: 0;
}
div {
  background-color: #222;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  max-width: auto;
  padding: 1rem;
}
h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 1rem;
  text-align: center;
}
img{
  max-width: 100%;
}
h2{
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 0 1rem;
  color: #aaa;
}
h1{
  color: red;
  font-style: italic;
  font-weight: 350;

}

  



  